html{
    overflow-x: hidden;
}

body{
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    color: black;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-left: 9%;
    overflow-x: hidden;
    overflow-y: hidden;
}

header img{
    display: flex;
    width: 200px;
    height: 200px;
    align-self: left;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
    margin-bottom: -10px;
}


#box-form{
    display: flex;
    flex-direction: column;
    
    align-self: center;
    

    background-color: #BD1522;
    height: auto;
    margin-top: 25px;
    padding: 10px;


    color: white;
    font-family: 'Inter', sans-serif;
    
    line-height: 1.5;
    text-align: center;

    border-radius: 25px;

}
#box-form #form-cliente{
    margin-top: 25px;
}

#form-cliente{
    width: 100%;
}
#form-cliente #enderecoEntrega{
    width: 60%;
}
#form-cliente input, #form-pedido input{
    width: 40%;
}

#box-form input:not([type="file"]){
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    height: 30px;
    text-align: center;
 
    margin: 5px;
    margin-bottom: 20px;
   

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-align: center;

    color: black;
    text-transform: uppercase;
    border-radius: 10px;
}




#header-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

#header-form h2{
    font-size: 20px;
    margin-left: -20%;
}

#header-form #icone{
    margin-right: -20%;
}

.form-pedido{
    width: 100%;
}


#box-form textarea{
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    text-align: center;
    margin-bottom: 20px;
   


    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    text-align: center;

    color: rgba(0, 0, 0);
    text-transform: uppercase;
    resize: none;
    width: 90%;
    padding: 5px;
}

#btRemovePersonalizacao{
    background-color: red;
    color: white;
}
#btRemovePersonalizacao:hover{
    color: black;
}

.btAddPersonalizacao{
    background: #ffbb00;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 35px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}
.btAddPersonalizacao:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 0 black;
    background-color: rgb(111, 111, 111);
}

#divAddProduto{
    display: flex;
    width: 100%;
    align-items: right;
    align-self: right;
    justify-content: right;
}

#btAddProduto{
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    align-items: center;
}

#form-valorTotal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-valorTotal input{
    width: 50%;
}

#pedidoStatusPagamento{
    width: 50%;
    text-align: center;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    height: 30px;
    text-align: center;
    width: 40%;
    margin: 5px;
    margin-bottom: 20px;
   


    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 24px;
    text-align: center;

    color: rgba(0, 0, 0);
    
    text-transform: uppercase;
}

#pedidoStatusPagamento:focus{
    outline: none;
}

#btEnviarPedido{
    border-radius: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}
#btEnviarPedido:hover{
    color: rgb(74, 74, 74);
}


/*PERSONALIZAÇAO*/


.box-personalizacao{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 15px;
}

#personalizacaoCol1{
    display: flex;
    flex-direction: row;
}
#personalizacaoCol2{
    display: flex;
    flex-direction: row;
    width: 100%;
}



#boxInputImg{
    width: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 15px;
}

.box-personalizacao input[type="file"]{
    /**/
    display: none;
}


.labelInputImg{
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    text-align: center;

    color: rgba(0, 0, 0, 0.51);
    text-transform: uppercase;

    padding: 55px 40px 50px 40px;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: 30px;
}
.labelInputImg:hover{
    cursor: pointer;
}

  /* Estilo quando o input não estiver vazio */




#icone:hover{
    cursor: pointer;
}

.valorPersonalizacao{
    width: 100%;
}


#divBaseNewProduto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*RESPONSIVIDADE*/


input::placeholder, textarea::placeholder{
    color:black;
}